<!DOCTYPE html>
<html>
  <head>
    <title>用户登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h2>欢迎你</h2>
      <p>您已成功登录 <%= username %></p>
  </body>
</html>
