<!DOCTYPE html>
<html>
  <head>
    <title>用户注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h2>欢迎你</h2>
      <p>您已成功注册 <%= username %></p>
  </body>
</html>
